html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}
.fbLoginBtnContainer button {
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.5em 3em;
  width: max-content;
  max-width: 460px;
  min-width: 200px;
  border-radius: 15px;
  background-color: rgba(29, 78, 216, 255);
  border: none;
  color: white;
}

input {
  font-size: 1.2em;
  padding: 0.5em 0.2em;
  width: max-content;
  max-width: 460px;
  min-width: 200px;
}
label {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: white;
    background: black;
  }
}

.flex-v {
  display: flex;
  flex-direction: column;
}
.flex-r {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background-color: rgba(29, 78, 216, 255);
  border: none;
  color: white;
}

.disabled {
  border: none;
  color: gray;
}
