.fbLoginContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fbLoginBtnContainer{
  max-width: 500px;
  min-width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fbLoginBtnContainer button {
  font-size: 1.2em;
  padding: 10px 20px;
  width: max-content;
  max-width: 460px;
  min-width: 200px;
  background-color: rgba(29,78,216,255);
}
.greyCircle{
  width: 3em;
  min-width: 100px;
  max-width: 300px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: rgba(217,217,217,255);
}
@media (prefers-color-scheme: dark) {
  .fbLoginBtnContainer{
    background-color: #ffffff;
  }
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
