.fb-login-btn-container{
  max-width: 500px;
  height: 100vh;
  background-color: aquamarine;
}
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
