.mainContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageSelectionContainer {
  background-color: white;
  max-width: 500px;
  min-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3em;
}
.pagesView{
  width: 100%;
  padding: 0.5em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5em;
}
.pageRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.8em;
  border: none;
  border-bottom: 1px solid #000000;
  padding-inline-start: 0.55em;
  color: black;
  cursor: pointer;
}
.pageRow span {
  width: 0.5em;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #bcbcbc;
  background-color: #ffffff;
}
.selectedPage{
  background-color: rgba(29,78,216,255) !important;
}
.selectedPageFont{
  color: rgba(29,78,216,255) !important;

}

.fbLoginBtnContainer{
  max-width: 500px;
  min-width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3em;
}
.fbLoginBtnContainer button {
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.5em 3em;
  width: max-content;
  max-width: 460px;
  min-width: 200px;
  background-color: rgba(29,78,216,255);
  border: none;
}
.greyCircle{
  width: 3em;
  min-width: 100px;
  max-width: 300px;
  aspect-ratio: 1;
  border: 0 solid transparent;
  border-radius: 50%;
  background-color: #bcbcbc;
}
.pagesActionBtns{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  row-gap: 0.8em;
}
.pagesActionBtns button {
  width: 80%;
  padding: 0.5em 3em;
  background-color: rgba(29,78,216,255);

}
.pageSelectionContainer h5 {
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  .fbLoginBtnContainer{
    background-color: #ffffff;
  }
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
